.comment-btn {
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.comment-btn__text {
  margin-left: 8px;
}

.comment-btn--theme--sky {
  color: var(--clr-primary-blue);

  &:disabled {
    cursor: not-allowed;

    color: var(--clr-primary-light-blue);

    svg path {
      fill: var(--clr-primary-light-blue);
    }
  }
}

.comment-btn--theme--fire {
  color: var(--clr-primary-soft-red);

  &:disabled {
    cursor: not-allowed;

    color: var(--clr-primary-pale-red);

    svg path {
      fill: var(--clr-primary-pale-red);
    }
  }
}
