@use "../abstracts/colors";

.comments {
  > * + * {
    margin-top: 20px;
  }
}

.comment {
  width: 100%;
  min-height: 167px;
  background: var(--clr-neutral-white);
  border-radius: 8px;
  padding: 24px;
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: 32px auto;
  column-gap: 24px;
  row-gap: 15px;
}

.comment__score {
  overflow: hidden;
  grid-row: 1 / 3;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 100px;
  background-color: var(--clr-neutral-very-light-gray);
  border-radius: 10px;

  > * {
    width: 100%;
    height: 33%;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .comment__score-counter {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--clr-primary-blue);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.comment__header {
  display: flex;
  align-items: center;

  grid-column: 2 / -1;
  grid-row: 1 / 2;
}

.comment__avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 16px;
}

.comment__username {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: var(--clr-neutral-dark-blue);
}

.comment__owner {
  padding: 1.5px 6px;
  padding-bottom: 2px;
  border-radius: 2px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: normal;

  margin-left: 8px;
  color: var(--clr-neutral-white);
  text-transform: lowercase;
  background-color: var(--clr-primary-blue);
}

.comment__date {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  margin-left: 16px;

  color: var(--clr-neutral-grayish-blue);
}

.comment__btns {
  margin-left: auto;

  > * + * {
    margin-left: 24px;
  }
}

.comment__body {
  display: flex;

  grid-column: 2 / -1;
  grid-row: 2 / -1;

  p {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    color: var(--clr-neutral-grayish-blue);
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    textarea {
      margin-bottom: 16px;
    }
  }
}

.comment__replyingTo {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: var(--clr-primary-blue);
}

.reply-textarea {
  display: none;
  margin-top: 8px;
}

.reply-textarea.active {
  display: block;
}

.replies {
  margin-top: 20px;
}