.comment-form {
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 24px;

  border-radius: 8px;

  background-color: var(--clr-neutral-white);
}

.comment-form__avatar {
  width: 40px;
  height: 40px;

  margin-right: 16px;

  border-radius: 50%;
}

.comment-form__textarea {
  margin-right: 16px;
}
