.modal {
  display: none;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  background-color: rgba(0, 0, 0, 0.4);
}

.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__content {
  padding: 32px;

  border-radius: 8px;

  background-color: var(--clr-neutral-white);
}

.modal__title {
  margin-bottom: 20px;

  color: var(--clr-neutral-dark-blue);
}

.modal__text {
  max-width: 31ch;

  margin-bottom: 20px;

  color: var(--clr-neutral-grayish-blue);
}

.modal__btns {
  display: flex;

  > * + * {
    margin-left: 14px;
  }
}
