.modal {
  display: none;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  background-color: rgba(0, 0, 0, 0.4);
}

.modal__content {
  padding: 32px;

  border-radius: 8px;

  background-color: var(--clr-neutral-white);
}

.modal__title {
  margin-bottom: 20px;

  color: var(--clr-neutral-dark-blue);
}

.modal__text {
  max-width: 31ch;

  margin-bottom: 20px;

  color: var(--clr-neutral-grayish-blue);
}

.modal__btn {
  width: 161px;
  height: 48px;
  
  border-radius: 8px;

  text-align: center;

  color: var(--clr-neutral-white);

  &:first-of-type {
    margin-right: 14px;
  }
}

.modal__btn--theme--fire {
  background-color: var(--clr-primary-soft-red);
}

.modal__btn--theme--grass {
  background-color: var(--clr-neutral-grayish-blue);
}

.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
