.btn-submit {
  padding: 12px 30px;

  border-radius: 8px;

  color: var(--clr-neutral-white);
  background-color: var(--clr-primary-blue);

  &:disabled {
    cursor: not-allowed;

    background-color: var(--clr-primary-light-blue);
  }
}
