.textarea {
  width: 100%;
  min-height: 96px;

  padding: 12px 24px;

  border: 1px solid var(--clr-neutral-light-gray);
  border-radius: 8px;

  resize: none;

  &::placeholder {
    opacity: 1;

    color: var(--clr-neutral-grayish-blue);
  }
}
